@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-oswald text-whiteThm;
}

body {
  @apply bg-darkBlueThm;
}

/* Add some common text utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
/*
.container {
  box-sizing: border-box;
  padding: 16px;
  width: 100%; /* Full width by default *
  max-width: 100%; /* Start with no max-width *
  margin-left: auto; /* Center horizontally *
  margin-right: auto; /* Center horizontally 
  padding-left: 1rem; /* Add padding for spacing (16px) *
  padding-right: 1rem; /* Add padding for spacing (16px) *
}

@media (min-width: 480px) {
  /* Small screens (sm) 
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  /* Medium screens (md) 
  .container {
    max-width: 768px;
  }
}

@media (min-width: 976px) {
  /* Large screens (lg) 
  .container {
    max-width: 976px;
  }
}

@media (min-width: 1440px) {
  /* Extra large screens (xl) 
  .container {
    max-width: 1440px;
  }
}
*/